:root {
    --mainColor: #0095aa;
    --secondaryColor: #000;
    --textColor: #fff;
    --backGroundColor: #dfdfdf;
    --cardColor: #dfdfdf;
    --shadowColor: #5f5f5f;
}

html {
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto auto;
}

.header {
    margin: 20px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-radius: 15px;
    background-color: var(--backGroundColor);
}

.headerImg {
    width: 150px;
}

.navigationBar {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 15px;
}

.navigationBarLink {
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    transition: all 0.2s;
    color: var(--secondaryColor);
}

.userImg {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}

.navigationBarLink:hover {
    color: var(--textColor);
    transition: all 0.2s;
    transform: translateY(-5px);
    box-shadow: -5px 5px 15px var(--shadowColor);
    background-color: var(--mainColor);
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: var(--mainColor);
}

.footerLink {
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footerLink img{
    width: 20px;
}

.footer p {
    margin: 10px 0;
    text-align: center;
    color: var(--textColor);
    font-weight: bold;
}