:root {
    --mainColor: #0095aa;
    --secondaryColor: #000;
    --textColor: #fff;
    --backGroundColor: #dfdfdf;
    --cardColor: #ffffff;
    --shadowColor: #5f5f5f;
}

html {
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto auto auto;
}

.header {
    position: sticky;
    top: 20px;
    z-index: 50;
    margin: 20px;
    padding: 15px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-radius: 15px;
    background-color: var(--backGroundColor);
}

.headerImg {
    width: 150px;
}

.navigationBar {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 15px;
}

.navigationBarLink {
    display: flex;
    width: 20px;
    align-items: center;
    gap: 10px;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.2s;
    overflow: hidden;
    color: var(--secondaryColor);
    background-color: var(--mainColor);
}

.navigationBarLink img {
    width: 20px;
}

.navigationBarLink p {
    width: fit-content;
    text-wrap: nowrap;
    margin: 0;
}

.navigationBarLink:hover {
    padding-right: 165px;
    transition: all 0.4s;
    transform: translateY(-5px);
    transform: translateX(-5px);
    box-shadow: -5px 5px 15px var(--shadowColor);
    color: var(--textColor);
    background-color: var(--mainColor);
}

.small:hover {
    padding-right: 100px;
    transition: all 0.4s;
    transform: translateY(-5px);
    transform: translateX(-5px);
    box-shadow: -5px 5px 15px var(--shadowColor);
    color: var(--textColor);
    background-color: var(--mainColor);
}

.logOut-btn {
    display: flex;
    width: 20px;
    align-items: center;
    gap: 10px;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.2s;
    overflow: hidden;
    color: var(--secondaryColor);
    background-color: #f44336;
}

.logOut-btn img {
    width: 20px;
}

.logOut-btn p {
    margin: 0;
}

.logOut-btn:hover {
    padding-right: 80px;
    transition: all 0.4s;
    transform: translateY(-5px);
    transform: translateX(-5px);
    box-shadow: -5px 5px 15px var(--shadowColor);
    color: var(--textColor);
    background-color: #f44336;
}

.content {
    margin: 40px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 15px;
    background-color: #dfdfdf;
}

.cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    padding: 20px;
    border: none;
    border-radius: 15px;
}

.card {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 5px 20px var(--shadowColor);
    background-color: var(--cardColor);
}

.cardImg {
    height: 200px;
    border: none;
    border-top-left-radius: 7.5px;
    border-top-right-radius: 7.5px;
    background-color: #00000036;
}

.cardInfo {
    display: flex;
    flex-direction: column;
    width: calc(100% - 40px);
    padding: 20px;
}

.cardDescription {
    display: flex;
    justify-content: space-between;
}

.cardDescription h3 {
    margin: 0;
    font-size: 1.5em;
    color: var(--mainColor);
}

.cardNavigation {
    display: flex;
    justify-content: space-between;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: -10px;
}

.cardIcon {
    width: fit-content;
    display: flex;
    gap: 20px;
}

.cardIcon p {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.cardIcon p img {
    margin-left: 10px;
    width: 20px;
}

.area {
    font-weight: bold;
}

.cardButton {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.cardButton button {
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: center;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    color: var(--textColor);
    background-color: red;
}

.CardForm {
    margin: 40px;
    display: none;
    justify-content: center;
}

.addCardForm {
    width: 60%;
    height: fit-content;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 15px;
    background-color: var(--backGroundColor);
}

.formHeader {
    text-align: center;
}

.inputGroup {
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inputGroup label {
    font-weight: bold;
}

.inputGroup input {
    padding: 15px;
    outline: none;
    border: none;
    border-radius: 15px;
    background-color: var(--cardColor);
}

.inputGroup input::placeholder {
    color: var(--mainColor);
}

.form-btn {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.form-btn button,
.form-btn a {
    width: fit-content;
    padding: 0.9em 2em;
    font-size: 1.1em;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: var(--textColor);
    background-color: var(--mainColor);
}

.success-msg {
    padding: 10px;
    margin-bottom: 20px;
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
}

.error-msg {
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
}