:root {
    --mainColor: #0095aa;
    --secondaryColor: #000;
    --textColor: #fff;
    --backGroundColor: #dfdfdf;
    --cardColor: #ffffff;
    --shadowColor: #5f5f5f;
}

html {
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto auto auto;
}

.header {
    position: sticky;
    top: 20px;
    z-index: 50;
    margin: 20px;
    padding: 15px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-radius: 15px;
    background-color: #5f5f5f7e;
    backdrop-filter: blur(10px);
}

.headerImg {
    width: 150px;
}

.navigationBar {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 15px;
}

.navigationBarLink {
    display: flex;
    width: 20px;
    align-items: center;
    gap: 10px;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.2s;
    overflow: hidden;
    color: var(--secondaryColor);
    background-color: var(--mainColor);
}

.navigationBarLink img {
    width: 20px;
}

.navigationBarLink p {
    margin: 0;
}

.navigationBarLink:hover {
    padding-right: 70px;
    transition: all 0.4s;
    transform: translateY(-5px);
    transform: translateX(-5px);
    box-shadow: -5px 5px 15px var(--shadowColor);
    color: var(--textColor);
    background-color: var(--mainColor);
}

.logOut-btn {
    display: flex;
    width: 20px;
    align-items: center;
    gap: 10px;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.2s;
    overflow: hidden;
    color: var(--secondaryColor);
    background-color: #f44336;
}

.logOut-btn img {
    width: 20px;
}

.logOut-btn p {
    margin: 0;
}

.logOut-btn:hover {
    padding-right: 70px;
    transition: all 0.4s;
    transform: translateY(-5px);
    transform: translateX(-5px);
    box-shadow: -5px 5px 15px var(--shadowColor);
    color: var(--textColor);
    background-color: #f44336;
}

.footer {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: var(--backGroundColor);
}

.footerLink {
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footerLink img {
    width: 20px;
}

.footer p {
    margin: 10px 0;
    text-align: center;
    color: var(--secondaryColor);
    font-weight: bold;
}

.content {
    margin: 10px 40px;
    display: flex;
    flex-direction: column;
}

.contentHeader {
    margin: 0 0 40px 0;
    padding: 20px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 15px;
    background-image: url(../img/wide-angle1.jpg);
    background-size: cover;
    background-position: top;
}

.contentHeader h1 {
    margin: 0;
    padding: 0;
    width: fit-content;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    color: var(--textColor);
}

.contentHeader span {
    margin: 0;
    padding: 0;
    width: fit-content;
    font-size: 3em;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    color: navajowhite;
}

.contentHeader h3 {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    width: fit-content;
    font-weight: bold;
    font-size: 30px;
    border: none;
    border-radius: 15px;
    color: var(--textColor);
}

.contentHeader-btn {
    width: fit-content;
    text-decoration: none;
    color: var(--textColor);
    background-color: var(--mainColor);
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    letter-spacing: 1px;
    padding: 0.9em 2em;
    border-radius: 10px;
    transition: 0.5s ease;
}

.contentHeader-btn:hover {
    background-color: var(--mainColor);
    transform: scale(1.1);
}

.cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    padding: 20px;
    border: none;
    border-radius: 15px;
    background-color: #dfdfdf;
}

.searchCardContainer {
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border: none;
    border-radius: 15px;
    background-color: var(--backGroundColor);
}

.search {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search input {
    outline: none;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 10px;
    color: var(--textColor);
    background-color: var(--mainColor);
}

.search input::placeholder {
    color: var(--textColor);
}

.search img {
    width: 15px;
}

.success-msg {
    margin: 0;
    padding: 10px;
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
}

.error-msg {
    margin: 0;
    padding: 10px;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
}

.card {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 5px 20px var(--shadowColor);
    background-color: var(--cardColor);
    transition: all 0.3s;
}

.card:hover {
    transform: scale(1.1);
    transition: all 0.3s;
}

.cardImg {
    height: 200px;
    border: none;
    border-top-left-radius: 7.5px;
    border-top-right-radius: 7.5px;
    background-color: #00000036;
}

.cardInfo {
    display: flex;
    flex-direction: column;
    width: calc(100% - 40px);
    padding: 20px;
}

.cardDescription {
    display: flex;
    justify-content: space-between;
}

.description {
    font-size: 1em;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border: none;
    border-radius: 10px;
}

.cardDescription h3 {
    margin: 0;
    font-size: 1.5em;
    color: var(--mainColor);
}

.cardNavigation {
    display: flex;
    justify-content: space-between;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: -10px;
}

.cardIcon {
    width: fit-content;
    display: flex;
    gap: 20px;
}

.cardIcon p {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.cardIcon p img {
    margin-left: 10px;
    width: 20px;
}

.area {
    font-weight: bold;
}

.cardButton {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.cardButton button {
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: center;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    color: var(--textColor);
    background-color: var(--mainColor);
}