:root {
    --mainColor: #0095aa;
    --secondaryColor: #000;
    --textColor: #fff;
    --backGroundColor: #dfdfdf;
    --cardColor: #ffffff;
    --shadowColor: #5f5f5f;
}

html {
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
    background-color: var(--backGroundColor);
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.back {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.2s;
    color: var(--secondaryColor);
}

.back:hover {
    transform: translateX(-15px);
}

.back img {
    width: 25px;
}

.login {
    padding: 20px;
    width: 400px;
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 15px;
    box-shadow: -15px 15px 25px var(--shadowColor);
    background-color: var(--cardColor);
}

.loginHeader {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.inputGroup {
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inputGroup label {
    font-weight: bold;
}

.inputGroup input,
.inputGroup select,
.inputGroup option {
    padding: 15px;
    outline: none;
    border: none;
    border-radius: 15px;
    background-color: var(--backGroundColor);
}

.inputGroup input::placeholder {
    color: var(--mainColor);
}

.login-btn {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.2s;
    color: var(--textColor);
    background-color: var(--mainColor);
}

.login-btn:hover {
    transform: translateY(-2px);
}

.signText {
    text-align: center;
    font-weight: bold;
}

.signUpLink {
    text-decoration: none;
    color: var(--mainColor);
}

.signUpLink:hover {
    color: #0096aa81;
    text-decoration: underline;
}